services:
  server:
    build: .
    image: assistant_server:latest
    ports:
      - "3002:3000"
    dns:
      - 8.8.8.8
    volumes:
      - ./packages:/app/packages
      - /app/packages/server/node_modules
      - /app/types/dist
    secrets:
      - doppler_token

secrets:
  doppler_token:
    file: ~/.docker-secrets/doppler_token.txt